
html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

:root {
    --halloween-black: rgba(54,49,44,1);
    --in-house-light: rgba(248,211,96,1);
    --halloween-moon: rgba(251,221,135,1);
    --halloween-moon-layer-1: rgba(255,233,158,1);
    --halloween-moon-layer: rgba(248,207,118,1);
    --halloween-sky: rgba(160,68,69,1);
    --halloween-sky-layer: rgba(149,63,64,1);
    --halloween-stone: rgba(97,89,87, 0.15);

    --canvas-width: 120em;
    --canvas-height: 85em;

    --owlX: 100em;
    --owlY: 16em;
    --owlWidth:  16em;
    --owlHeight: 20em;

    /*--owlHead: rgba(53,178,211,1);*/
    --owlHead: rgba(69, 64, 62,1);
    --owlHeadT: rgba(69, 64, 62,0);

    --owlSclera: rgba(255,255,255,1);
    --owlScleraT: rgba(255,255,255,0);

    --owlCornea: rgba(62,33,16,1);
    --owlCorneaT: rgba(62,33,16,0);

    --owlNoseLeft: rgba(233,151,15,1);
    --owlNoseLeftT: rgba(233,151,15,0);

    --owlNoseRight: rgba(248,201,6,1);
    --owlNoseRightT: rgba(248,201,6,0);

    --owlBody: rgba(38,38,38,1);
    --owlBodyT: rgba(38,38,38,0);

    --owlBody1: rgba(56, 54, 52, 1);
    --owlBodyT1: rgba(56, 54, 52,0);

    --owlLegs: rgba(235,206,13,1);
    --owlLegsT: rgba(235,206,13,0);

    --eyeReflection: rgba(255,253,243,1);
    --eyeReflectionT: rgba(255,253,243,0);
}

.container-fluid {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
}

.container {
    font-size: 10px;
    margin: 0 auto;
    height:  var(--canvas-height);
    width: var(--canvas-width);
    overflow: hidden;
}

.container div {
    position: absolute;
    font-size: 10px;
    height:  var(--canvas-height);
    width: var(--canvas-width);
    background-color: var(--halloween-black);
}

/**
 * Tree
 * ---
 */
.right-tree {
    z-index: 10;
    clip-path: polygon(100% 53%, 98% 41%, 97% 34%, 91% 36%, 85% 32%, 82% 34%, 80% 42%, 78% 45%, 74% 44%, 77% 42%, 79% 35%, 81% 31%, 77% 31%, 74% 27%, 73% 20%, 69% 23%, 65% 28%, 66% 24%, 69% 18%, 71% 15%, 67% 10%, 70% 12%, 72% 15%, 75% 14%, 77% 22%, 78% 27%, 82% 27%, 87% 29%, 93% 31%, 96% 29%, 94% 18%, 88% 13%, 81% 9%, 78% 3%, 78% 0%, 82% 6%, 85% 9%, 87% 10%, 86% 4%, 87% 0%, 90% 1%, 89% 4%, 90% 9%, 93% 13%, 97% 14%, 99% 20%, 100% 16%);
}

.left-tree {
    z-index: 10;
    clip-path: polygon(0% 57%, 1% 45%, 3% 35%, 5% 27%, 10% 26%, 14% 26.5%, 19% 26%, 22% 25%, 27% 27%, 29% 31%, 31% 34%, 34% 35%, 31% 30%, 36% 32%, 41% 33%, 32% 28%, 28% 24%, 31% 22%, 37% 19%, 33% 19%, 27% 20%, 23% 23%, 17% 23%, 7% 23%, 13% 17%, 22% 14%, 32% 13%, 22% 12%, 34% 9%, 37% 7%, 27% 7%, 21% 8%, 21% 4%, 24% 1%, 19% 3%, 16% 1%, 17% 3%, 18% 5%, 16% 10%, 12% 11%, 7% 14%, 5% 10%, 2% 4%, 0% 1%, 0% 6%, 2% 10%, 3% 15%, 0% 20%);
}

/**
 * Castle
 * ---
 */
.castle {
    clip-path: polygon(41% 68%, 40% 56%, 36% 57%, 40% 52%, 38% 42%, 36% 43%, 37% 36%, 42% 40%, 41% 41%, 44% 46%, 46% 45%, 44% 39%, 43% 39%, 45% 35%, 48% 36%, 48% 32%, 47% 31%, 50% 24%, 54% 31%, 52% 32%, 52% 36%, 56% 35%, 58% 41%, 57% 40%, 54% 45%, 55% 47%, 60% 40%, 59% 39%, 63% 35%, 63% 42%, 62% 42%, 58% 52%, 62% 56%, 59% 56%, 58% 69%);
    z-index: 6;

}

/**
 * Windows
 * ---
 */
.windows {
    background-color: transparent !important;
    z-index: 6;
}

.windows div {
    background-color: var(--in-house-light);
}

.window-1 {
    clip-path: polygon(42% 57%, 42.5% 62%, 45% 63%, 45% 56%);
}

.window-2 {
    clip-path: polygon(54% 57%, 57% 59%, 56% 62%, 54% 62%);
}

.window-3 {
    clip-path: polygon(50% 46%, 52% 48%, 51% 52%, 48% 52%, 47.5% 48%);
}

.window-4 {
    clip-path: polygon(45% 39%, 47% 37%, 49% 40%, 46.5% 43%);
}

.window-5 {
    clip-path: polygon(54% 37%, 56% 39%, 54% 41%, 52% 40%);
}
.window-6 {
    clip-path: polygon(49% 32%, 51% 31%, 51% 35%, 49% 34.5%);
}

.window-7 {
    clip-path: polygon(50% 28%, 51% 30%, 49% 31%);
}

.window-8 {
    clip-path: polygon(39% 44%, 41% 42.5%, 43% 46%, 40% 46.5%);
}

.door {
    clip-path: polygon(50% 58%, 51% 58.5%, 52% 61%, 52% 68%, 47% 68%, 47% 61%, 48% 59%, 49% 58%);
}

/**
 * Window Frames
 * ---
 */
.frames {
    background-color: transparent !important;
    z-index: 10;
}


.frame-layer {
    background-color: var(--halloween-black) !important;
    z-index: 100 !important;
}

.frame-1 {
    clip-path: polygon(43% 56%, 43.5% 56%, 43.5% 59%, 46.5% 59%, 46.5% 59.75%, 43.5% 59.75%, 43.5% 64%, 43% 64%, 43% 59.57%, 41% 59.75%, 41% 59%, 43% 59%);
}

.frame-2 {
    clip-path: polygon(55% 56%, 55.5% 56%, 55.5% 59%, 57.5% 59%, 57.5% 59.75%, 55.5% 59.75%, 55.5% 64%, 55% 64%, 55% 59.57%, 53% 59.75%, 53% 59%, 55% 59%);
}

.frame-3 {
    clip-path: polygon(50% 44%, 50.5% 44%, 50% 49%, 52.5% 49%, 52.5% 49.75%, 50% 49.75%, 50% 52%, 49.5% 52%, 49.5% 49.5%, 45% 49.5%, 45% 49%, 49.5% 49%);
}

/**
 * Tombstones
 * ---
 */
.tombstones {
    background-color: transparent !important;
    z-index: 6;
}

.tombstone-layer {
    background-color: var(--halloween-black) !important;
}

.tombstone-layer-1 {
    clip-path: polygon(20% 61%, 25.5% 62.5%, 25% 69%, 22% 78%);

}
.tombstone-layer-2 {
    clip-path: polygon(75% 62%, 80% 64%, 75% 78%, 73% 78%);

}
.tombstone-layer-3 {
    clip-path: polygon(5% 72%, 8% 72.5%, 8% 85%, 6% 85%);

}
.tombstone-layer-4 {
    clip-path: polygon(90% 72%, 93% 74%, 90% 85%, 89% 85%);

}


/**
 * Ground
 * ---
 */
.ground {
    clip-path: polygon(59% 67%, 73% 70%, 87% 76%, 100% 84%, 100% 100%, 0 100%, 0 82%, 11% 75%, 24% 69%, 41% 66%);
    z-index: 5;
}

/**
 * Moon
 * ---
 *
 */

.moon {
    clip-path: ellipse(30% 46% at 50% 50%);
    background-color: var(--halloween-moon) !important;
    z-index: 3;
}

.moon-layer {
    z-index: 4;
    background-color: var(--halloween-moon-layer) !important;
}

.moon-layer-1 {
    clip-path: ellipse(10% 12% at 43% 26%);
}

.moon-layer-2 {
    clip-path: ellipse(6% 8% at 68% 35%);
}

.moon-layer-3 {
    clip-path: ellipse(4% 5% at 26% 43%);
}

.moon-layer-4 {
    clip-path: ellipse(16% 19% at 50% 74%);
}

.moon-layer-5 {
    clip-path: ellipse(6% 7% at 42% 50%);
}

.moon-layer-special {
    clip-path: circle(30% at 35% 25%);
    background-color: var(--halloween-moon-layer-1) !important;
    transform: rotate(0deg);
}

/**
 * Sky
 * ---
 *
 */
.sky {
    z-index: 1;
    background-color: var(--halloween-sky) !important;
}
.sky-layer {
    z-index: 2;
    background-color: var(--halloween-sky-layer) !important;
}

.sky-layer-1 {
    clip-path: polygon(0 0, 100% 0, 100% 9%, 82% 9%, 71% 13%, 58% 15%, 38% 14%, 13% 6%);
}

.sky-layer-2 {
    clip-path: polygon(0% 11%, 48% 26%, 58% 28%, 32% 32%, 15% 28%, 10% 27%, 12% 32%, 21% 34%, 79% 45%, 100% 38%, 100% 69%, 75% 75%, 49% 78%, 10% 78%, 0% 79%, 0% 68%, 22% 71%, 45% 68%, 68% 65%, 93% 57%, 91% 52%, 84% 52%, 66% 54%, 27% 50%, 15% 44%, 0% 35%, 0 55%, 19% 59%, 33% 61%, 33% 69%, 24% 68%, 15% 64%, 4% 63%, 0 62%);
}
